altair==5.5.0
annotated-types==0.7.0
anyio 
argon2-cffi 
argon2-cffi-bindings 
arrow==1.3.0
asttokens 
async-lru 
attrs 
babel 
beautifulsoup4 
bleach 
blinker==1.9.0
Bottleneck 
Brotli 
cachetools==6.1.0
certify
cffi 
charset-normalizer 
click==8.2.1
colorama 
comm 
contourpy 
cycler 
debugpy
decorator
defusedxml
dnspython==2.7.0
email_validator==2.2.0
et-xmlfile
executing
fastapi==0.115.14
fastapi-cli==0.0.7
fastcore==1.8.4
fastjsonschema
Flask==3.1.1
fonttools
fqdn==1.5.1
gitdb==4.0.12
GitPython==3.1.44
greenlet==3.2.3
h11
httpcore
httptools==0.6.4
httpx
idna
ipykernel
ipython
ipython-genutils==0.2.0
ipython-sql==0.5.0
ipython_pygments_lexers
ipywidgets==7.7.2
isoduration==20.11.0
itsdangerous==2.2.0
jedi
Jinja2
json5
jsonpointer==3.0.0
jsonschema
jsonschema-specifications
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events
jupyter-highlight-selected-word==0.2.0
jupyter-lsp
jupyter_client
jupyter_contrib_core==0.4.2
jupyter_contrib_nbextensions==0.7.0
jupyter_core
jupyter_nbextensions_configurator==0.6.4
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets==1.1.11
kiwisolver
lxml==6.0.0
markdown-it-py==3.0.0
MarkupSafe 
matplotlib==3.10.0
matplotlib-inline 
mdurl==0.1.2
mistune 
mkl-service==2.4.0
mkl_fft 
mkl_random 
narwhals==1.44.0
nbclient 
nbconvert 
nbformat 
nbimporter==0.3.4
nest-asyncio 
notebook 
notebook_shim 
numexpr 
numpy 
openpyxl 
orjson==3.10.18
overrides 
packaging 
pandas 
pandocfilters 
parso 
pillow 
platformdirs 
prettytable==3.16.0
prometheus_client 
prompt-toolkit 
protobuf==6.31.1
psutil 
psycopg2-binary==2.9.10
pure-eval 
pyarrow==20.0.0
pycparser 
pydantic==2.11.7
pydantic-extra-types==2.10.5
pydantic-settings==2.10.1
pydantic_core==2.33.2
pydeck==0.9.1
Pygments 
pyparsing 
PyQt6==6.7.1
PyQt6_sip 
PySocks 
python-dateutil 
python-dotenv==1.1.1
python-json-logger 
python-multipart==0.0.20
pytz 
pywin32==308
pywinpty 
PyYAML 
pyzmq 
referencing 
requests 
rfc3339-validator 
rfc3986-validator 
rich==14.0.0
rich-toolkit==0.14.7
rpds-py 
Send2Trash 
setuptools==78.1.1
shellingham==1.5.4
sip 
six 
smmap==5.0.2
sniffio 
soupsieve 
SQLAlchemy==2.0.41
sqlparse==0.5.3
stack-data 
starlette==0.46.2
stqdm==0.0.5
streamlit==1.46.1
streamlit-jupyter==0.2.1
tabulate==0.9.0
tenacity==9.1.2
terminado 
tinycss2 
toml==0.10.2
tornado 
tqdm==4.67.1
traitlets 
typer==0.16.0
types-python-dateutil==2.9.0.20250516
typing-inspection==0.4.1
typing_extensions 
tzdata
ujson==5.10.0
unicodedata2 
uri-template==1.3.0
urllib3 
uvicorn==0.34.3
watchdog==6.0.0
watchfiles==1.1.0
wcwidth 
webcolors==24.11.1
webencodings 
websocket-client
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
widgetsnbextension==3.6.10
win-inet-pton 
